
@use './vendor-openProps';
@use './layout-footer';
@use './utility';



/// The video played in fullscreen
#theBackground {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%; 
  min-height: 100%;
}

/// The sticky footer at the bottom (holding the Button)
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 20px;
}

/// The button to play/pause the Video Background
#playPause {
  font-size: var(--font-size-fluid-1);
  color: var(--stone-1); 
  background: transparent;
  border: 0;
  cursor: pointer;
  
  &:hover {
    color: var(--green-1);
  }
}
