<!-- /src/pages/index.njk -->

{% extends "src/layouts/base.njk" %}


{% block frontMatter %}
title: Home
url: /
{% endblock %}
  
{% block pageTitle %} myTab.vercel.app {% endblock %}
{% block pageDesc %} Custom tab for web browsers. {% endblock %}

{% block main %}
<video autoplay muted loop id="theBackground">
  <source src="https://infinidad.fr/projets/media/neige-en-foret.mp4" type="video/mp4">
  Your browser does not support HTML5 video.
</video>

{% include "../partials/footer.njk" %}

{% endblock %}